<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= context.title %></title>
  <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.png" />
</head>
<body>
<div id="root"></div>
</body>
</html>
